body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
canvas { width: 100%; height: 100%; }
input[type=range] { width: 100%; }
#container { 
position: absolute;
width: 20%;

}
#container canvas, #overlay { position: absolute; }
#overlay { z-index: 1; width: 100%; }
#overlay div { padding: 5px; }
#loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3d3d3d; /* Grey */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}